@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');


html{
    overflow-x: hidden;
}

body{
    font-family: 'Cabin', sans-serif;
    margin: 0px;
    overflow: hidden;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* style cho header*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    padding: 20px   0;
}

.header .header__container .header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container  .header__logo{
    font-size: 30px;
    position: relative;
    background-color: #fff;
    font-weight: 100;
    text-decoration: none;
    color: #212529;
}
.header .header__container  .header__logo::after{
    content:"";
    width: 60px;
    position: absolute;
    border: 3px solid  #ea3a60;
    left: -15px;
    top: -11px;
    bottom: -11px;
    border-radius: 8px;
    z-index: -1;
}

.header .header__container  .header__logo   .red{
    font-weight: bold;
    color: #ea3a60;
}

.header .header__container  .header__item{
    display: flex;
    align-items: center;
}

.header .header__container  .header__item ul{
    list-style: none;
    display: flex;
}

.header .header__container  .header__item ul li{
    padding: 0  16px;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(0 0 0 / 50%);
    cursor: pointer;
}

.header .header__container  .header__item ul li:hover{
    color: rgb(0 0 0 / 90%);
}

.header .header__container  .header__item   .header__icon{
    margin: 0  20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(234 58 96 / 20%);
    border-radius: 50%;
    color: #fff;
}

.header .header__container  .header__item   .header__icon:hover{
    background-color: #ea3a60;
    transition: all 0.5s;
}

.header .header__container  .header__item   .header__call span{
    font-size: 14px;
    color: #777;
    font-weight: 600;
}

.header .header__container  .header__item   .header__call   h5{
    font-size: 20px;
}
/* style cho header*/
/* style cho banner*/
img{
    max-width: 100%;
    height: auto;
}

.banner{
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/28-03-2020/interiorfloor-liberty-demo_Free/1147492347/web/assets/images/slide1.jpg);
    min-height: 700px;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
}

.banner::before{
    content: "";
    width: 100%;
    background: rgba(7, 10, 12, 0.45);
    position: absolute;
    z-index: -1;
    min-height: 100%;
    
}

.banner .banner__container{
    color: #fff;
}

.banner .banner__container  .banner__content    h5{
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.banner .banner__container  .banner__content    h3{
    font-size: 50px;
    max-width: 40%;
    margin-bottom: 20px;
}

.banner .banner__container  .banner__content    p{
    font-size: 20px;
    max-width: 60%;
    margin-bottom: 40px;
}

.banner .banner__container  .banner__content    .banner__button{
    display: flex;
}

.banner .banner__container  .banner__content    .banner__button a{
    text-decoration: none;
    display: flex;
    margin-right: 10px;
    color: #fff;
    font-size: 22px;
    background-color: #f62250;
    padding: 12px   30px;
    border-radius: 6px;
    transition: all 1s;
}

.banner .banner__container  .banner__content    .banner__button a:hover{
    background-color: #fd063b;
    
}


.banner .banner__container  .banner__content    .banner__button a:last-child{
    background-color: rgb(255 255 255 / 10%);
}

.banner .banner__container  .banner__content    .banner__button a:last-child:hover{
    background-color: rgb(255 255 255 / 30%);
}
/* style cho banner*/
/* style cho us*/
.us{
    padding: 48px 0;
}

.us .us__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.us .us__container  .us__content{
    flex: 0 0   50%;
    max-width: 50%;
}

.us .us__container  .us__content h5{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.us .us__container  .us__content h2{
    font-size: 34px;
}

.us .us__container  .us__content p{
    font-size: 16px;
    color: #888;
    margin: 24px 0;
}

.us .us__container  .us__content a{
    text-decoration: none;
    border: 1px solid crimson;
    border-radius: 3px;
    padding: 10px   30px;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: bolder;
    color: #f62250;
}

.us .us__container  .us__content a:hover{
    background-color: crimson;
    color: #fff;
    transition: all 0.5s;
}

.us .us__container  .us__img{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.us .us__container  .us__img::after{
    border: 9px solid rgba(158, 151, 151, 0.2);
    content: '';
    position: absolute;
    right: -25px;
    left: 25px;
    bottom: 25px;
    top: -25px;
    z-index: -1;
    border-radius: 6px;
}

.us .us__container  .us__img img{
    border-radius: 6px;
}

.us .us__container  .us__img i{
    position: absolute;
    right: 1px;
    left: 45%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    color: crimson;
    border-radius: 50%;
    cursor: pointer;
}

.us .us__container  .us__img i:hover{
    width: 55px;
    height: 55px;
    line-height: 55px;
    background-color: #fff;
    color: crimson;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s;
}
/* style cho us*/

/* style cho os*/
.os{
    padding: 48px   0;
    background-color: #f3f5f7;
}

.os .os__container{
    padding: 48px   25px;
}

.os .os__container .os__content{
    display: flex;
    flex-wrap: wrap;
}
.os .os__container .os__content .os__item:hover{
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
    transition: all 1s;
}

.os .os__container .os__content .os__item:hover .os__icon .os__all h4{
    color:#b4b4ce;
    transition: all 1s;
}

.os .os__container .os__content    .os__item{
    flex: 0 0 calc(33.33333% - 30px);
    max-width: calc(33.33333% - 30px);
    border-radius: 8px;
}

.os .os__container h3{
    font-size: 35px;
    margin-bottom: 20px;
}

.os .os__container .os__content .os__item{
    margin: 15px;
    background-color: #fff;
} 

.os .os__container .os__content .os__item .os__icon{
    padding: 40px 30px;
}

.os .os__container .os__content .os__item .os__icon .os__all{
    display: flex;
    justify-content: space-between;
}

.os .os__container .os__content .os__item .os__icon .os__all    i{
    font-size: 30px;
    color: #f62250;
}

.os .os__container .os__content .os__item .os__icon .os__all    h4{
    font-size: 60px;
    color: #eef1f5;
    margin: 0;
}

.os .os__container .os__content .os__item .os__icon h4{
    font-size: 24px;
    margin-bottom: 15px;
}

.os .os__container .os__content .os__item .os__icon p{
    color: #888;
    font-size: 17px;
    padding-bottom: 15px;
}

.os .os__container .os__content .os__item .os__icon a{
    text-decoration: none;
    color: #2d2d43;
    font-size: 18px;
    font-weight: 600;
}

.os .os__container .os__content .os__item .os__icon a::after{
    content: "";
    width: 85px;
    height: 1.5px;
    background-color: #f62250;
    display: flex;
    transform: scaleY(30px);
}
/* style cho os*/

/* style cho wwd*/
.wwd{
    padding: 48px 0;
}

.wwd    .wwd__container h3{
    font-size: 35px;
    padding-left: 15px;
    margin-bottom: 20px;
}

.wwd    .wwd__container .wwd__content{
    display: flex;
    text-align: center;
    
}

.wwd    .wwd__container .wwd__content .wwd__img{
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
    margin: 15px;
    border-radius: 6px;
}

.wwd    .wwd__container .wwd__content .wwd__img img{
    display: block;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.wwd    .wwd__container .wwd__content .wwd__img p{
    font-size: 20px;
    padding: 20px 0;
    font-weight: 600;
}
.wwd    .wwd__container .wwd__content .wwd__img:hover{
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
    transform: translateY(-10px);
    transition: all 0.5s;
}
/* style cho wwd*/

/* style cho op*/
.op{
    padding: 48px 0;
}

.op .op__container h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.op .op__container .op__img{
    background-image: url(https://demo.w3layouts.com/demos_new/template_demo/28-03-2020/interiorfloor-liberty-demo_Free/1147492347/web/assets/images/slide4.jpg);
    min-height: 500px;
    max-width: 100%;
    background-size: cover;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.op .op__container .op__img::before{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    background-color: rgb(7 10 12 / 45%);
    z-index: 1;
    min-height: 100%;
}

.op .op__container .op__img .op__content{
    max-width: 650px;
    border: 9px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    z-index: 2;
    color: #fff;
    border-radius:8px;
    padding: 30px;
}

.op .op__container .op__img .op__content h3{
    font-size: 26px;
    text-transform: capitalize;
}

.op .op__container .op__img .op__content p{
    font-size: 18px;
    color: #eee;
    padding: 20px 0 30px 0;
}

.op .op__container .op__img .op__content a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 12px 30px;
    background-color: #ea3a60;
    border-radius: 6px;
    font-weight: 600;
}

.op .op__container .op__img .op__content a:hover{
    background-color: #f62250;
    transition: all 0.5s;
}

.op .op__container{
    position: relative;
}

.op .op__container .op__button{
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
}

.op .op__container .op__button button{
    width: 12px;
    height: 12px;
    line-height: 12px;
    border: 1px solid crimson;
    border-radius:50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0 3px;
}

.op .op__container .op__button button:hover{
    background-color: #f62250;
}

/* style cho op*/
/* style cho graphic*/
.graphic{
    padding: 48px 0;
    background-color: #efefef;
}

.graphic .graphic__container    h2{
    font-size: 35px;
    margin-bottom: 20px;
}

.graphic .graphic__container .graphic__content{
    display: flex;
    flex-wrap: wrap;
}

.graphic .graphic__container .graphic__content .graphic__item{
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
    margin: 0px 15px;
    background-color: #fff;
    border-radius: 6px;
}

.graphic .graphic__container .graphic__content .graphic__item .graphic__icon{
    padding: 40px 30px;
    position: relative;
}

.graphic .graphic__container .graphic__content .graphic__item .graphic__icon h3{
    font-size: 50px;
    color: #ea3a60;
}

.graphic .graphic__container .graphic__content .graphic__item .graphic__icon p{
    font-size: 17px;
    color: #6c757d;
}

.graphic .graphic__container .graphic__content .graphic__item .graphic__icon i{
    position: absolute;
    top: 10px;
    font-size: 50px;
    right: 10px;
    opacity: 0.1;
}

.graphic .graphic__container .graphic__content .graphic__item .graphic__icon:hover i{
    opacity: 0.7;
    font-size: 55px;
    transition: all 0.3s;
}
/* style cho graphic*/

/* style cho footer*/
.footer {
    padding: 48px 0;
    background-color: #222;
    z-index: -1;
    color: #fff;
}

.footer .footer__container{
    margin: 0   auto;
}

.footer .footer__container .footer__content{
    display: flex;
}

.footer .footer__container .footer__content .footer__about{
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.footer .footer__container .footer__content .footer__about h6{
    font-size: 24px;
    margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__about p{
    font-size: 16px;
    color: #888;
    line-height: 28px;
}

.footer .footer__container .footer__content .footer__about .footer__icon i{
    margin-right: 10px;
    margin-top: 14px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #3c3c3c;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.footer .footer__container .footer__content .footer__about .footer__icon i:hover{
    background-color: #007bff;
    transition: all 0.5s;
}


.footer .footer__container .footer__content .footer__contact{
    flex: 0 0 25%;
    max-width: 25%;
}

.footer .footer__container .footer__content .footer__contact h6{
    font-size: 24px;
    margin-bottom: 25px;
}

.footer .footer__container .footer__content .footer__contact ul li{
    list-style: none;
    color: #888;
    margin-bottom: 10px;
    color: #ababab;
    font-size: 17px;
}
.footer .footer__container .footer__content .footer__contact ul li i{
    line-height: 30px;
    color: #fff;
}

.footer .footer__container .footer__content .footer__link{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    font-size: 17px;
    
}

.footer .footer__container .footer__content .footer__link h6{
    font-size: 24px;
    margin-bottom: 24px;
}


.footer .footer__container .footer__content .footer__link ul li{
    list-style: none;
    line-height: 36px;
    color: #ababab;
}

.footer .footer__container .footer__content .footer__blog{
    flex: 0 0 25%;
    max-width: 25%;
    color: #ccc;
}

.footer .footer__container .footer__content .footer__blog h6{
    font-size: 24px;
    margin-bottom: 24px;
    color: #fff;
    
}

.footer .footer__container .footer__content .footer__blog a{
    text-decoration: none;
    color: #ccc;
    line-height: 26px;
    font-size: 18px;
}

.footer .footer__container .footer__content .footer__blog p{
    font-size: 12px;
    margin-bottom: 20px;
}

.footer .footer__container .footer__item{
    display: flex;
    margin-top: 50px;
}

.footer .footer__container .footer__item .footer__text{
    flex: 0 0 50%;
    max-width: 50%;
}

.footer .footer__container .footer__item .footer__email{
    flex: 0 0 50%;
    max-width: 50%;
}

.footer .footer__container .footer__item .footer__text h6{
    font-size: 24px;
    margin-bottom: 10px;
}

.footer .footer__container .footer__item .footer__text p{
    color: #888;
    font-size: 16px;
}

.footer .footer__container .footer__item .footer__email{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color:#3c3c3c;
    border-radius: 6px;
}

.footer .footer__container .footer__item .footer__email p{
    color: #888;
}
/* style cho footer*/

/* style cho W3*/
.w3{
    background-color: #2e2e2e;
    color: #fff;
    text-align: center;
    align-items: center;
}

.w3 .w3__container{
    padding: 24px 0;
    color: #888;
    
}

.w3 .w3__container a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
/* style cho W3*/

.header .header__container .header__menu{
    display: none;
}