


.banner .banner__container  .banner__content    h5{
    font-size: 18px;
}

.banner .banner__container  .banner__content    h3{
    font-size: 35px;
}


.banner .banner__container  .banner__content    p{
    font-size: 16px;
    max-width: 100%;
}

.banner .banner__container  .banner__content    .banner__button a{
    font-size: 16px;
}

.us .us__container  .us__content h2{
    font-size: 24px;
}

.us .us__container  .us__img{
    max-width:90%;
}

.us .us__container  .us__img::after{
    max-width: 95%;
}

.os .os__container .os__content{
    flex-wrap: wrap;
}

.os .os__container .os__content    .os__item{
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0px;
    margin-bottom: 30px;
}

.wwd    .wwd__container .wwd__content{
    display: flex;
}

.wwd    .wwd__container .wwd__content .wwd__img{
    flex: 100%;
    max-width: 100%;
}

.op .op__container .op__img .op__content{
    padding: 20px;
}

.op .op__container .op__img .op__content h3{
    font-size: 26px;
}

.op .op__container .op__img .op__content p{
    font-size: 16px;
}

.graphic .graphic__container .graphic__content .graphic__item .graphic__icon h3{
    font-size: 35px;
}

.graphic .graphic__container .graphic__content .graphic__item .graphic__icon i{
    font-size:40px;
}

.footer .footer__container .footer__content .footer__about{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 30px;
}


.footer .footer__container .footer__content .footer__contact{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
}

.footer .footer__container .footer__content .footer__link{
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
}

.footer .footer__container .footer__content .footer__blog{
    flex: 0 0 100%;
    max-width: 100%;
    padding:0;
    margin-top: 20px;
}

.footer .footer__container .footer__item{
    flex-wrap: wrap;
    margin-top: 20px;
}

.footer .footer__container .footer__item .footer__text{
    flex: 0 0 100%;
    max-width: 100%;

}

.footer .footer__container .footer__item .footer__email{
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 20px;
}

.header .header__container  .header__item ul{
    display: block;
    margin-top: 50px;
    
}

.header .header__container  .header__item ul li{
    padding-top: 20px;
}

.header .header__container .header__content .header__menu{
    position: relative;
    display: flex;
    
}

.header .header__container .header__content .header__menu button:focus{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.header .header__container .header__content .header__menu button{
    font-size: 30px;
    color: #333;
    border: none;
    cursor: pointer;
    background: transparent;
}

.header .header__container .header__content .header__item{
    display: block;
    padding-left: 30px;
    width: 70%;
    height: 100vh;
    top: 0px;
    left: 0px;
    transform: translateX(-150%);
    background: #f6f6f6;
    position: absolute;
    z-index:3;
    align-items: center;
    transition: all 1s;
}

.header .header__container  .header__item#item.active{
    transform: translatex(0%)
}


