.container{
    padding: 0 25px;
}
.header .header__container{
    max-width: 90%;
}

.header .header__container  .header__item ul li{
    padding: 0 5px;
}

.header .header__container  .header__item   .header__icon{
    margin: 0 5px;
}

.banner .banner__container  .banner__content h3{
    max-width: 500px;
}

.banner .banner__container  .banner__content p{
    max-width: 90%;
}

.us .us__container{
    flex-wrap: wrap;
}

.us .us__container  .us__content{
    flex: 0 0   100%;
    max-width: 100%;
    margin-bottom: 78px;
}

.us .us__container .us__content p {
    margin: 40px 0;
    line-height: 28px;
}

.os .os__container .os__content{
    display: flex;
    flex-wrap: wrap;
}

.os .os__container .os__content    .os__item{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    border-radius: 8px;
}

.wwd{
    background-color: #efefef;
}

.wwd    .wwd__container .wwd__content{
    flex-wrap: wrap;
}

.wwd    .wwd__container .wwd__content .wwd__img{
    flex: 0 0 calc(33.333% - 30px);
    max-width: calc(33.333% - 30px);
    font-weight: 600;
    background-color: #fff;
}

.op .op__container .op__img{
    padding:0 48px ;
}

.graphic .graphic__container .graphic__content{
    flex-wrap: wrap;
}

.graphic .graphic__container .graphic__content .graphic__item{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin: 15px;
}

.footer .footer__container .footer__content{
    flex-wrap: wrap;
}

.footer .footer__container .footer__content .footer__about{
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 30px;
}


.footer .footer__container .footer__content .footer__contact{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    padding: 0 15px ;
}

.footer .footer__container .footer__content .footer__link{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    padding: 0 15px ;
}

.footer .footer__container .footer__content .footer__blog{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
    margin-top: 50px;
    padding: 0 15px ;
}

.footer .footer__container .footer__item {
    display: flex;
    justify-content: space-between;
}

.footer .footer__container .footer__item .footer__text{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);

}

.footer .footer__container .footer__item .footer__email{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);  
}